.header
{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    height: 50px;
    margin-top: 25px;
    @media screen and(max-width:800px)
    {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .add-car-button
    {
        background-color: #34de62;
        color:$gray-color;
        padding:10px 20px;
        font-size: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        cursor:pointer;
        font-weight: bold;
        margin-left: 10px;
        position: absolute;
        bottom:0px;
        span
        {
            @media screen and(max-width:500px)
            {
                display:none;
            }
        }
        &:hover
        {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
        i
        {
            margin-left: 10px;
            @media screen and(max-width:500px)
            {
                margin-left:0px;
            }
        }
        @media screen and(max-width:800px)
        {
            padding:5px 10px;
        }
        @media screen and(max-width:500px)
        {
            padding: 10px;
        }
    }
    .search
    {
        padding:5px 10px;
        width: 300px;
        position: absolute;
        left:50%;
        bottom:0px;
        transform: translate(-50%,0);
        @media screen and(max-width:800px)
        {
            left:45%;
            width: 120px;
        }
    }
    &-info
    {
        position: absolute;
        right:50px;
        bottom:0px;
        @media screen and(max-width:800px)
        {
            right: 25px;
        }
        @media screen and(max-width:500px)
        {
            right: 10px;
        }
        &-show
        {
            background-color: $gray-color;
            border-radius:2px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            cursor:pointer;
            &:hover
            {
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
            &>i
            {
                color:$main-color;
                margin: 0px 5px 0px 10px;
                @media screen and(max-width:500px)
                {
                    margin:0px 5px;
                }
                
            }
            &-amount
            {
                font-size: 3rem;
                color:$main-color;
                font-weight: bold;
                margin:0px 10px 0px 5px;
            }
        }
        &-background
        {
            position:fixed;
            width: 100vw;
            min-height: 100vh;
            top:0px;
            left:0px;
            background-color: rgba(157, 157, 157, 0.46);
            display:none;
            .close
            {
                position: absolute;
                font-size: 1rem;
                top:50px;
                right:50px;
                cursor:pointer;
                background-color:#c41414;
                color:$gray-color;
                font-weight: bold;
                padding:5px 15px;
                transition:.25s;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                &:hover
                {
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                }
                @media screen and(max-width:800px)
                {
                    top:15px;
                    right:15px;
                }
            }
        }
        &-container
        {
            flex-wrap: wrap;
            display:flex;
            overflow-y: scroll;
            margin:10vh 200px 10vh 200px;
            height: 80vh;
            box-sizing: border-box;
            position: absolute;
            @include gradient;
            border-radius:2px;
            padding:25px;
            box-sizing: border-box;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            width: calc(100vw - 400px);
            @media screen and(max-width:800px)
            {
                margin:0px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width: 100%;
            }
            @media screen and(max-width:500px)
            {
                padding: 10px;
            }
            .create-margin-bottom
            {
                flex-basis: 100%;
                opacity:0;
            }
        }
    }
} 