<article class="warning" data-ng-click="changeDate(warning.date , warning.event , warning.registration)">
    <div class="icon">
        <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
    </div>        
    <section class="warning-car">
        <header class="warning-car">
            <p class="warning-car-mark" data-ng-bind="warning.mark"></p>
            <p class="warning-car-registration" data-ng-bind="warning.registration"></p>
        </header>
        <article>
            <p class="warning-car-event" data-ng-bind="warning.event"></p>
            <p class="warning-car-date" data-ng-bind="warning.date"></p>
        </article>        
    </section>
</article>